# Git and IDE
.git
.gitignore
.vs/
.vscode/

# Build artifacts
**/bin/
**/obj/
TestResults/
.sonarqube/

# OS/Editor junk
*.swp
*.DS_Store

# Local env and secrets
*.user
*.local.json
**/*Secrets*.json
**/*secret*.json
**/*Private*.json
*.env
.env*

# Node/npm (if ever present)
node_modules/